/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/raleway.woff') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/raleway_medium.woff') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/raleway_semibold.woff') format('woff2');
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('chrome-extension://__MSG_@@extension_id__/raleway_bold.woff') format('woff2');
}

