#customs-block[mode='none'] [auth=yes],
#customs-block[mode='none'] [auth=no] {
  display: none!important;
}
#customs-block[mode='auth'] [auth=yes] {
  display: block;
}
#customs-block[mode='auth'] [auth=no] {
  display: none!important;
}
#customs-block[mode='not-auth'] [auth=yes] {
  display: none!important;
}
#customs-block[mode='not-auth'] [auth=no] {
  display: block;
}
#customs-block.loading .navi-block::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 2px;
  background-image: url(/pages/common/auth/site_images/grid.png);
  opacity: 0.15;
}
#customs-block.loading .navi-block::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%!important;
  background-image: url(/img/image/loading_2.svg);
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
}
#customs-block #customs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid gainsboro;
  border-width: 1px 1px 0 1px;
  margin: 15px 15px 0 15px;
  display: flex;
  flex-direction: column;
}
#customs-block #customs-list li {
  margin: 0;
  padding: 0;
}
#customs-block #customs-list li {
  line-height: 35px;
  padding: 0 6px 0 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid gainsboro;
  border-width: 0 0 1px 0;
  transition: 0.15s;
}
#customs-block #customs-list li:hover {
  background-color: #c5e9f3;
}
#customs-block #customs-list li.customs-list-empty {
  text-align: center;
  display: block;
  font-style: italic;
  background-color: transparent!important;
}
#customs-block #customs-list li.transition {
  transition: 0.8s;
}
#customs-block #customs-list li.highlight {
  transition: 0.8s;
  background-color: #5cb85c;
}
#customs-block #customs-list li .customs-list-name {
  flex-grow: 1;
}
#customs-block #customs-list li .customs-list-icons i {
  cursor: pointer;
  margin-right: 9px;
  color: #9a9a9a;
  font-size: 15px;
  transition: 0.15s;
}
#customs-block #customs-list li .customs-list-icons i:hover {
  color: #737373;
}
#customs-block #customs-list li .btn-mini {
  padding: 2px 10px;
}
#customs-block #customs-informer {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#customs-block #customs-informer .customs-informer-data {
  padding: 20px;
  font-size: 18px;
}
#customs-block .customs-will-backup {
  display: block;
  margin: 15px 0 0 0;
  text-align: left;
}
#customs-block .customs-will-backup h5 {
  display: inline;
  font-weight: bold;
}
#customs-block .customs-will-backup span {
  display: inline;
  padding: 0 0 0 3px;
}
.ul-clean {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-clean li {
  margin: 0;
  padding: 0;
}
.mark {
  outline: 1px dashed yellow;
}
.beforeafter {
  content: "";
  position: absolute;
  display: block;
}
.fullsize {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
