#todo-more-button {
  height: 16px;
  width: 16px;
  cursor: pointer;
  background-image: url(img/more.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#todo-more-button.active #todo-more {
  display: block;
}
#todo-user-button {
  height: 18px;
  width: 18px;
  cursor: pointer;
  opacity: 0.25;
  transition: 0.3s;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(img/user.svg);
}
#todo-user-button:hover,
#todo-user-button.active {
  opacity: 1;
}
#todo-user-button.active #todo-user-more-wrap {
  display: block;
}
#todo-user-more-wrap {
  position: relative;
  display: none;
}
#todo-user-more-wrap #todo-user-more {
  background-color: white;
  position: absolute;
  top: 16px;
  right: 0px;
  z-index: 10;
  border-radius: 4px;
  padding: 10px 10px;
  text-align: center;
  cursor: default;
}
#todo-user-more-wrap #todo-user-more .todo-user-name {
  display: block;
  margin-bottom: 10px;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout {
  background-color: #4786ec;
  border: 2px solid #397deb;
  border-radius: 5px;
  padding: 2px 15px;
  position: relative;
  cursor: pointer;
  transition: 0.35s;
  display: inline-block;
  color: white;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout:hover {
  background-color: #5e95ee;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout.wait {
  cursor: default;
  background-color: #8cb4f3;
  border-color: #7eaaf2;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout.wait:after {
  opacity: 1;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout:after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transition: 0.5s;
  right: -31px;
  top: -2px;
  width: 24px;
  height: 24px;
  background-image: url(img/loading.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout-transp {
  border: 0;
  background-color: transparent!important;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 15px!important;
}
#todo-user-more-wrap #todo-user-more .todo-user-logout-transp:hover {
  color: #ffffff;
}
#todo-sync-button {
  height: 18px;
  width: 18px;
  cursor: pointer;
}
#todo-sync-button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#todo-sync-button span i {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(img/sync.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#todo-more {
  position: relative;
  display: none;
}
#todo-more-inner {
  background-color: #4d4d4d;
  position: absolute;
  top: 26px;
  right: 0px;
  z-index: 15;
  border-radius: 4px;
  padding: 8px 0;
}
#todo-more-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#todo-more-inner ul li {
  margin: 0;
  padding: 0;
}
#todo-more-inner ul li {
  white-space: nowrap;
  line-height: 30px;
  padding: 3px 15px 3px 15px;
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 16px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  min-width: 140px;
}
#todo-more-inner ul li:hover {
  background-color: #3a3a3a;
}
#todo-more-inner ul li.selected {
  background-color: #6099ff;
  color: white;
  cursor: default;
}
#todo-more-inner ul li.todo-user-menu span {
  display: block;
  line-height: 16px;
}
#todo-more-inner ul li.todo-user-menu .todo-user-name {
  font-size: 11px;
}
#todo-container {
  /*
    &.loading-push{
        #todo-sync-button{
            span{
                i{
                    background-image: url(img/upload.svg);
                    background-position: center 16px;
                    background-size: 14px;
                    animation:push 0.75s linear infinite;
                }
            }
        }
    }
    */
}
#todo-container[service=lsp] #todo-header-services,
#todo-container[service=lsp] #todo-user-button,
#todo-container[service=lsp] #todo-sync-button,
#todo-container[service=lsp] #todo-trial {
  display: none;
}
#todo-container[service=lsp] #todo-star-button {
  display: inline-block;
}
#todo-container:not([service=lsp-OFF]) .todo-container-content {
  overflow: hidden;
}
#todo-container:not([service=lsp-OFF]) #todo-header-left {
  display: none!important;
}
#todo-container:not([service=lsp-OFF]) #todo-header-toggle {
  display: none!important;
}
#todo-container:not([service=lsp-OFF]) #todo-header-services {
  display: inline-block;
}
#todo-container:not([service=lsp-OFF]) #todo-header-right {
  min-width: auto;
}
#todo-container:not([service=lsp]) #todo-star-button {
  display: none!important;
}
#todo-container[service=chaos] .ta-logo {
  background-image: url(img/chaos_icon@2x.png);
  background-size: 24px;
  background-position: top center;
  padding-top: 32px;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
}
#todo-container[mode=fade] .todo-service-content {
  opacity: 0;
}
#todo-container[mode=fade] .todo-service-content * {
  display: none;
}
#todo-container[mode=login] .todo-service-content {
  align-items: center;
  justify-content: center;
}
#todo-container[mode=login] .todo-service-content .todo-auth {
  display: flex;
  flex-direction: column;
}
#todo-container[mode=login] .todo-service-content .todo-edit,
#todo-container[mode=login] .todo-service-content .todo-date-wrap,
#todo-container[mode=login] .todo-service-content .todo-tasks {
  display: none;
}
#todo-container[mode=login] #todo-user,
#todo-container[mode=login] #todo-sync-button,
#todo-container[mode=login] #todo-user-button,
#todo-container[mode=login] #todo-header-services,
#todo-container[mode=login] #todo-trial {
  display: none!important;
}
#todo-container[mode=no-tasks] .todo-service-content .todo-auth,
#todo-container[mode=tasks] .todo-service-content .todo-auth,
#todo-container[mode=edit] .todo-service-content .todo-auth {
  display: none;
}
#todo-container[mode=no-tasks] .todo-service-content .todo-date-wrap,
#todo-container[mode=tasks] .todo-service-content .todo-date-wrap,
#todo-container[mode=edit] .todo-service-content .todo-date-wrap {
  display: none;
}
#todo-container[mode=no-tasks] .todo-service-content .todo-tasks,
#todo-container[mode=tasks] .todo-service-content .todo-tasks,
#todo-container[mode=edit] .todo-service-content .todo-tasks {
  display: flex;
}
#todo-container[mode=date-picker] .todo-service-content .todo-auth {
  display: none;
}
#todo-container[mode=date-picker] .todo-service-content .todo-date-wrap {
  display: flex;
}
#todo-container[mode=date-picker] .todo-service-content .todo-edit,
#todo-container[mode=date-picker] .todo-service-content .todo-tasks {
  display: none;
}
#todo-container[promo=bottom] .todo-promo {
  display: block;
}
#todo-container[promo=full] .todo-promo {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
}
#todo-container[promo=full] .todo-promo .todo-promo-inner {
  height: 100%;
}
#todo-container[promo=full] .todo-promo .promo-close {
  display: none;
}
#todo-container[promo=full] .todo-promo .promo-button-close {
  display: block;
}
#todo-container[promo=full] .todo-promo .promo-text .promo-mini {
  display: none;
}
#todo-container[promo=full] .todo-promo .promo-text .promo-full {
  display: inline-block;
}
#todo-container[promo=full] .todo-promo .promo-desc {
  display: block;
}
#todo-container[mode=no-tasks][promo=full] .todo-promo {
  bottom: 42px;
}
#todo-container[mode=no-tasks][promo=full] .todo-promo .promo-text .promo-mini {
  display: inline-block;
}
#todo-container[mode=no-tasks][promo=full] .todo-promo .promo-text .promo-full {
  display: none;
}
#todo-container[mode=no-tasks][promo=full] .todo-promo .promo-desc {
  display: none;
}
#todo-container[mode=no-tasks] #todo-star-button {
  display: none;
}
#todo-container[mode=no-tasks] .todo-no-tasks {
  display: block;
}
#todo-container[mode=no-tasks][service=lsp] .todo-no-tasks {
  display: none;
}
#todo-container[mode=no-tasks][service=lsp] .todo-promo {
  display: block;
  background-color: transparent;
  top: 0;
  bottom: 42px;
}
#todo-container[mode=no-tasks][service=lsp] .todo-promo .todo-promo-inner {
  height: 100%;
}
#todo-container[mode=no-tasks][service=lsp] .todo-promo .promo-close {
  display: none;
}
#todo-container[mode=no-tasks][service=lsp] .todo-promo .promo-no-tasks {
  display: block;
}
#todo-container[trial=show] #todo-trial,
#todo-container[trial=expired] #todo-trial {
  display: flex;
}
#todo-container[trial=expired] .todo-edit,
#todo-container[trial=expired_hide] .todo-edit,
#todo-container[trial=expired] #todo-sync-button,
#todo-container[trial=expired_hide] #todo-sync-button,
#todo-container[trial=expired] .todo-task-item-actions,
#todo-container[trial=expired_hide] .todo-task-item-actions,
#todo-container[trial=expired] .todo-task-item-checkbox,
#todo-container[trial=expired_hide] .todo-task-item-checkbox {
  display: none!important;
}
#todo-container[trial=expired] .todo-task-item-title,
#todo-container[trial=expired_hide] .todo-task-item-title {
  cursor: default!important;
}
#todo-container.loading {
  /*
        #todo-sync-button{
            span{
                i{
                    background-image: url(img/download.svg);
                    background-position: center -16px;
                    background-size: 14px;
                    animation:pull 0.75s linear infinite;
                }
            }
        }
        */
}
#todo-container.loading .todo-tasks .todo-tasks-inner,
#todo-container.loading .todo-tasks .todo-tasks-edit,
#todo-container.loading .todo-tasks .todo-task-new {
  opacity: 0;
}
#todo-container.loading .todo-tasks:before {
  opacity: 1;
  z-index: 1;
  background-image: url(img/loading.svg);
}
#todo-container.loading .todo-edit,
#todo-container.loading .todo-no-tasks {
  display: none;
}
#todo-container.loading #todo-header-services {
  opacity: 0;
}
#todo-container.loading-soft #todo-sync-button span i,
#todo-container.loading #todo-sync-button span i,
#todo-container.loading-push #todo-sync-button span i {
  animation: spin 1s linear infinite;
}
#todo-container .ui-resizable-handle {
  opacity: 0.55;
  transition: 0.25s;
}
#todo-container .ui-resizable-handle:hover {
  opacity: 1;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pull {
  100% {
    background-position: 0px 16px;
  }
}
@keyframes push {
  100% {
    background-position: 0px -16px;
  }
}
.todo-tasks {
  flex-grow: 1;
  padding: 6px 0 0 0;
}
.todo-tasks[mode=addnew] {
  justify-content: center;
  align-items: center;
}
.todo-tasks[mode=addnew] .todo-tasks-inner {
  display: none;
}
.todo-tasks[mode=addnew] .todo-task-new {
  padding: 20px 0 0 0!important;
}
.todo-tasks[mode=addnew] .todo-task-new .todo-task-new-button {
  font-size: 44px!important;
  width: 56px !important;
  line-height: 56px !important;
}
.todo-edit {
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
  margin: 5px 0;
  padding-top: 3px;
}
.todo-edit .tte-text {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  line-height: 35px;
  color: white;
  font-size: 14px;
  padding: 0 18px;
}
.todo-edit .tte-text::-webkit-input-placeholder {
  color: #5b7cff;
  font-weight: 600;
}
.todo-edit .tte-text::-moz-placeholder {
  opacity: 1;
  color: #5b7cff;
  font-weight: 600;
}
.todo-promo {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  z-index: 10;
}
.todo-promo .todo-promo-inner {
  position: relative;
  padding: 15px;
  font-size: 15px;
  font-weight: normal;
  min-height: 215px;
  color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.todo-promo .todo-promo-inner .promo-close {
  cursor: pointer;
  position: absolute;
  padding: 3px;
  display: inline-block;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-image: url(img/close_w.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.75;
  transition: 0.3s;
}
.todo-promo .todo-promo-inner .promo-close:hover {
  opacity: 0.95;
}
.todo-promo .todo-promo-inner .promo-no-tasks {
  display: none;
  font-weight: bold;
  max-width: 130px;
  line-height: 170%;
}
.todo-promo .todo-promo-inner .promo-text {
  display: block;
  max-width: 290px;
  line-height: 170%;
}
.todo-promo .todo-promo-inner .promo-text .promo-mini {
  display: inline-block;
}
.todo-promo .todo-promo-inner .promo-text .promo-full {
  display: none;
}
.todo-promo .todo-promo-inner .promo-desc {
  display: none;
}
.todo-promo .todo-promo-inner .promo-button-wrap {
  display: inline-block;
  position: relative;
}
.todo-promo .todo-promo-inner .promo-button-close {
  display: none;
}
.todo-no-tasks {
  display: none;
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 0;
  right: 0;
  z-index: 0;
}
.todo-no-tasks .todo-no-tasks-inner {
  position: relative;
  padding: 15px;
  font-size: 14px;
  font-weight: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.todo-no-tasks .todo-no-tasks-inner .no-tasks-text {
  display: block;
  max-width: 130px;
  line-height: 170%;
}
.todo-date-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.todo-date-wrap #todo-date-picker {
  width: 100%;
  flex-grow: 1;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-header {
  display: flex;
  height: 30px;
  line-height: 30px;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .prev-date-btn,
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .next-date-btn,
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .lsp-date-title {
  height: 30px;
  line-height: 30px;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .prev-date-btn,
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .next-date-btn {
  cursor: pointer;
  color: #868686;
  font-size: 22px;
  transition: 0.3s;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .prev-date-btn:hover,
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .next-date-btn:hover {
  color: white;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-header .lsp-date-title {
  font-size: 14px;
  text-transform: uppercase;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper {
  width: 100%;
  border-radius: 0;
  background-color: transparent;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table {
  width: 100%;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table thead tr th {
  color: #868686;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td {
  text-align: center;
  vertical-align: center;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td .date-number {
  color: #868686;
  line-height: 37px;
  height: 37px;
  width: 37px;
  border-radius: 100%;
  display: inline-block;
  padding: 1px 0 0px 0;
  transition: 0.15s;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td.lsp-normal {
  cursor: pointer;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td:hover .date-number,
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td.lsp-active .date-number,
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td.lsp-current .date-number {
  background: #979797;
  color: white;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td:hover .date-number {
  color: white;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td.lsp-selected .date-number {
  background: linear-gradient(90deg, #4587FF 0%, #B354FF 100%);
  color: white;
}
.todo-date-wrap #todo-date-picker .lsp-date-picker-warpper .lsp-date-picker-body table tbody tr td.lsp-gray {
  visibility: hidden;
}
.todo-date-wrap #todo-date-bottom {
  text-align: center;
  margin-top: -41px;
  padding-bottom: 15px;
}
.todo-date-wrap #todo-date-bottom .todo-date-time {
  background: #333333;
  border-radius: 30px;
  padding: 11px 20px 9px 25px;
}
.todo-date-wrap #todo-date-bottom .todo-date-time .todo-date-time-input {
  display: none;
  background: transparent;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  outline: 0;
  position: relative;
}
.todo-date-wrap #todo-date-bottom .todo-date-time .todo-date-time-input::-moz-inner-spin-button {
  display: none;
}
.todo-date-wrap #todo-date-bottom .todo-date-time .todo-date-time-input::-webkit-inner-spin-button {
  display: none;
}
.todo-date-wrap #todo-date-bottom .todo-date-time .todo-date-time-input:after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  position: absolute;
  display: block;
  left: auto;
  width: 10px;
  z-index: 10;
  background: #333333;
}
.todo-date-wrap #todo-date-bottom .todo-date-time .todo-date-time-select {
  background-color: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
  outline: 0px;
}
.todo-date-wrap #todo-date-bottom .todo-date-time .todo-date-time-select option {
  font-size: 14px;
  color: black;
}
.todo-date-wrap #todo-date-bottom .todo-btn {
  display: inline-block;
  margin: 5px 10px 0 10px;
  min-width: auto!important;
}
#todo-header-services {
  float: left;
  opacity: 1;
  transition: 0.15s;
  position: relative;
  width: 50%;
  text-align: left;
}
#todo-header-services #todo-projects-wrap {
  position: relative;
}
#todo-header-services #todo-projects-wrap #todo-projects {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  background-color: white;
  position: absolute;
  top: 16px;
  left: 3px;
  z-index: 10;
  border-radius: 4px;
  font-weight: bold;
  max-width: 270px;
}
#todo-header-services #todo-projects-wrap #todo-projects li {
  margin: 0;
  padding: 0;
}
#todo-header-services #todo-projects-wrap #todo-projects.active {
  display: block;
}
#todo-header-services #todo-projects-wrap #todo-projects li {
  white-space: nowrap;
  line-height: 20px;
  padding: 3px 10px 3px 10px;
  background-position: 8px center;
  background-repeat: no-repeat;
  background-size: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.15s;
}
#todo-header-services #todo-projects-wrap #todo-projects li:hover {
  background-color: #eee;
}
#todo-header-services #todo-projects-wrap #todo-projects li.selected {
  background-color: #6099ff;
  color: white;
  cursor: default;
}
#todo-header-services #todo-projects-wrap .todo-project-current {
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding-right: 18px;
  max-width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  white-space: nowrap;
  min-height: 15px;
}
#todo-header-services #todo-projects-wrap .todo-project-current.options {
  background-image: url(img/down.svg);
}
#todo-header-services #todo-projects-wrap .todo-project-current.options.open {
  background-image: url(img/up.svg);
}
#todo-header-services #todo-header-icon,
#todo-header-services #todo-header-title,
#todo-header-services #todo-projects-wrap,
#todo-header-services #todo-header-count {
  color: white;
  display: inline-block;
  vertical-align: middle;
}
#todo-header-services #todo-header-icon {
  margin-right: 7px;
}
#todo-header-services #todo-header-title {
  font-size: 14px;
  font-weight: bold;
  margin-right: 11px;
}
#todo-header-services #todo-header-title,
#todo-header-services #todo-header-count {
  color: #F0F0F0;
  transition: 0.15s;
}
#todo-header-services #todo-header-title:hover,
#todo-header-services #todo-header-count:hover {
  color: #ffffff;
}
#todo-header-services #todo-header-count {
  /*
        float: right;
        margin-right: -25px;
        */
  vertical-align: bottom;
  color: rgba(255, 255, 255, 0.6);
}
#todo-trial {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  flex-direction: row;
  z-index: 10;
}
#todo-trial .todo-trial-text {
  font-size: 11px;
  line-height: 26px;
  text-align: left;
  flex-grow: 1;
  padding-left: 15px;
}
#todo-trial .todo-trial-close {
  cursor: pointer;
  margin: 6px 5px 0 0;
  width: 14px;
  height: 14px;
  background-image: url(img/close_w.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.75;
  transition: 0.3s;
}
#todo-trial .todo-trial-close:hover {
  opacity: 0.95;
}
.todo-service-content {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  transition: opacity 0.15s;
  opacity: 1;
}
.todo-service-content .todo-auth {
  display: flex;
  flex-direction: column;
}
.todo-service-content .todo-auth-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.todo-service-content .todo-auth-inner .ta-logo {
  display: block;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 5px;
}
.todo-service-content .todo-auth-inner .ta-label {
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin: 15px 0 3px 0;
}
.todo-service-content .todo-auth-inner input {
  width: 210px;
  min-width: 210px;
  padding: 5px 5px;
  border-radius: 5px;
  border: 2px solid transparent;
  color: black;
  outline: 0;
  transition: 0.5s;
}
.todo-service-content .todo-auth-inner input.warn {
  border-color: orangered;
}
.todo-service-content .todo-auth-inner .td-button {
  margin-top: 21px;
}
.todo-service-content .todo-auth-inner .ta-warn {
  opacity: 0;
  color: orangered;
  margin-top: 10px;
  line-height: 16px;
  min-height: 16px;
  transition: 0s;
}
.todo-service-content .todo-auth-inner .ta-warn.active {
  transition: 0.5s;
  opacity: 1;
}
.todo-service-content .todo-auth .promo-button-inner {
  margin-top: 10px;
}
.todo-service-content .todo-auth .promo-button-inner .todo-btn {
  display: inline-block;
  padding: 0px 15px;
  transition: 0.15s;
  opacity: 0.85;
  background: linear-gradient(90deg, #4587FF 0%, #B354FF 100%);
}
.todo-service-content .todo-auth .promo-button-inner .todo-btn:hover {
  opacity: 1;
  background: linear-gradient(90deg, #4587FF 0%, #B354FF 100%);
}
.todo-service-content .todo-tasks {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}
.todo-service-content .todo-tasks:before {
  opacity: 0;
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
  z-index: -1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 76px;
}
.todo-service-content .todo-tasks-inner {
  opacity: 1;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
  overflow: hidden;
}
.todo-service-content .todo-tasks-inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.todo-service-content .todo-tasks-inner ul li {
  margin: 0;
  padding: 0;
}
.todo-service-content .todo-tasks-inner .mCSB_container {
  margin-right: 15px;
}
.todo-service-content .todo-tasks-inner .mCS_no_scrollbar_y {
  margin-right: 0!important;
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab {
  text-align: left;
  font-size: 12px;
  padding: 4px 0 3px 33px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.25s;
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  font-weight: bold;
  position: relative;
  display: none;
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab.filled {
  display: block;
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab:before {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  left: 15px;
  width: 14px;
  height: 14px;
  background-image: url(img/down.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.25s;
  opacity: 0.75;
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab:hover {
  color: rgba(255, 255, 255, 0.95);
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab:hover:before {
  opacity: 1;
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab.collapsed:before {
  background-image: url(img/right.svg);
}
.todo-service-content .todo-tasks-inner .todo-tasks-tab .counter {
  margin-left: 4px;
}
.todo-service-content .todo-tasks-inner .todo-task-item {
  text-align: left;
  padding: 10px 0px 10px 10px;
  margin: 0 5px;
  position: relative;
}
.todo-service-content .todo-tasks-inner .todo-task-item:hover .sort-handler {
  opacity: 0.3;
}
.todo-service-content .todo-tasks-inner .todo-task-item:hover .todo-task-item-actions {
  opacity: 1;
}
.todo-service-content .todo-tasks-inner .todo-task-item:hover .todo-task-item-title {
  max-width: 73%;
  overflow: hidden;
}
.todo-service-content .todo-tasks-inner .todo-task-item .sort-handler {
  content: "";
  position: absolute;
  display: block;
  left: -2px;
  width: 8px;
  top: 10px;
  height: 16px;
  cursor: move;
  background-image: url(img/moving.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transition: 0.15s;
  z-index: 10;
}
.todo-service-content .todo-tasks-inner .todo-task-item .sort-handler:hover {
  opacity: 0.8;
}
.todo-service-content .todo-tasks-inner .todo-task-item.editing .todo-task-item-actions {
  display: none;
  opacity: 0!important;
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions {
  position: absolute;
  top: 8px;
  right: 0;
  border-radius: 3px;
  padding: 4px 4px 2px 0px;
  opacity: 0;
  transition: 0.25s;
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding: 3px;
  margin-left: 7px;
  opacity: 0.5;
  transition: 0.15s;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button:hover {
  opacity: 1;
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button[action=copy] {
  background-image: url(img/copy.svg);
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button[action=edit] {
  background-image: url(img/edit.svg);
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button[action=delete] {
  background-image: url(img/delete.svg);
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button[action=due] {
  background-image: url(img/calendar.svg);
}
.todo-service-content .todo-tasks-inner .todo-task-item-actions .tti-button:nth-child(n+4) {
  display: none!important;
}
.todo-service-content .todo-tasks-inner .todo-task-item-main {
  position: relative;
}
.todo-service-content .todo-tasks-inner .todo-task-item-period {
  margin: 3px 0 0 24px;
  font-size: 14px;
}
.todo-service-content .todo-tasks-inner .todo-task-item-checkbox-image {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-image: url(img/unchecked.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.todo-service-content .todo-tasks-inner .todo-task-item [type=checkbox]:checked ~ .todo-task-item-checkbox-image {
  background-image: url(img/check.svg);
}
.todo-service-content .todo-tasks-inner .todo-task-item-checkbox {
  position: absolute;
  top: -2px;
  left: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  opacity: 0;
}
.todo-service-content .todo-tasks-inner .todo-task-item-title {
  cursor: pointer;
  max-width: 90%;
  display: inline-block;
  overflow: hidden;
  outline: 0;
}
.todo-service-content .todo-tasks-inner .todo-task-item-title,
.todo-service-content .todo-tasks-inner .todo-task-item-input {
  color: white;
  font-size: 16px;
  margin-left: 3px;
  margin-left: 10px;
  font-weight: normal;
}
.todo-service-content .todo-tasks-inner .todo-task-item-input {
  outline: 1px solid red;
  background: transparent;
  border: 0;
}
.todo-service-content .todo-tasks-inner .todo-task-item-start {
  margin-right: 18px;
}
.todo-service-content .todo-tasks-inner .todo-task-item-start,
.todo-service-content .todo-tasks-inner .todo-task-item-due {
  font-size: 11px;
}
.todo-service-content .todo-tasks-inner .todo-task-item .time-date {
  margin-left: 3px;
}
.todo-service-content .todo-tasks-inner .todo-task-item .time-date.today {
  font-weight: bold;
  color: #6eb720;
}
.todo-service-content .todo-tasks-inner .todo-task-item .time-date.overdue {
  font-weight: bold;
  color: #ed5e56;
}
.todo-service-content .todo-tasks-inner .todo-tasks-list.collapsed {
  display: none;
}
.todo-service-content .todo-tasks-inner .todo-tasks-complete .todo-task-item:before {
  display: none;
}
.todo-service-content .todo-tasks-inner .todo-tasks-complete .todo-task-item-title,
.todo-service-content .todo-tasks-inner .todo-tasks-complete .time-label,
.todo-service-content .todo-tasks-inner .todo-tasks-complete .time-date {
  color: #9e9e9e !important;
  font-weight: normal!important;
  text-decoration: line-through;
}
.todo-service-content .todo-tasks-inner .todo-tasks-complete .tti-button[action=due],
.todo-service-content .todo-tasks-inner .todo-tasks-complete .tti-button[action=edit] {
  display: none;
}
.todo-service-content .todo-tasks .todo-task-new {
  margin-top: -45px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 12px 10px 0;
}
.todo-service-content .todo-tasks .todo-task-new-button {
  z-index: 10;
  display: block;
  width: 36px;
  line-height: 36px;
  font-size: 30px;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  background-color: #4786ec;
  padding: 1px 0 0 0;
  transition: 0.25s;
}
.todo-service-content .todo-tasks .todo-task-new-button:hover {
  background-color: #5e95ee;
}
.td-button {
  background-color: #4786ec;
  border: 2px solid #397deb;
  border-radius: 5px;
  padding: 2px 15px;
  position: relative;
  cursor: pointer;
  transition: 0.35s;
}
.td-button:hover {
  background-color: #5e95ee;
}
.td-button.wait {
  cursor: default;
  background-color: #8cb4f3;
  border-color: #7eaaf2;
}
.td-button.wait:after {
  opacity: 1;
}
.td-button:after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transition: 0.5s;
  right: -31px;
  top: -2px;
  width: 24px;
  height: 24px;
  background-image: url(img/loading.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.td-button-transp {
  border: 0;
  background-color: transparent!important;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 15px!important;
}
.td-button-transp:hover {
  color: #ffffff;
}
.todo-header-right {
  margin-top: 0;
}
.todo-header-right .todo-header-button {
  height: 16px;
  width: 16px;
  display: inline-block;
  color: white;
  cursor: pointer;
  vertical-align: super;
  margin-left: 7px;
  opacity: 0.35;
  transition: 0.3s;
}
.todo-header-right .todo-header-button:hover,
.todo-header-right .todo-header-button.active {
  opacity: 1;
}
.todo-header-right #todo-star-button {
  height: 18px;
  width: 18px;
  background-image: url(img/premium_color.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}
.todo-header-right #todo-star-button.active {
  background-image: url(img/premium_grey.svg);
}
.todo-header-container {
  min-height: 34px;
  background-color: rgba(0, 0, 0, 0.6);
}
#todo-copy-all,
#todo-popup-hide {
  display: none!important;
}
.todo-btn {
  border-radius: 16px;
  min-width: 140px;
  line-height: 32px;
  background: #9b9b9b;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding: 1px 10px 0 10px;
  display: block;
  transition: 0.3s;
}
.todo-btn::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 16px;
  z-index: -1;
  background: linear-gradient(90deg, #4587FF 0%, #B354FF 100%);
}
.todo-btn.todo-btn-active {
  opacity: 0.9;
  background: rgba(155, 155, 155, 0.95);
}
.todo-btn:hover {
  opacity: 1;
  background: transparent;
}
.todo-btn.todo-btn-gray {
  background: transparent;
  color: #989898;
}
.todo-btn.todo-btn-gray:before {
  display: none;
}
.todo-btn.todo-btn-gray:hover {
  color: white;
}
#todo-container .ui-icon-gripsmall-diagonal-se {
  background-image: url(/vendor/jquery-ui/css/images/ui-icons_ffffff_256x240.png);
}
.ul-clean {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-clean li {
  margin: 0;
  padding: 0;
}
.mark {
  outline: 1px dashed yellow;
}
.beforeafter {
  content: "";
  position: absolute;
  display: block;
}
.fullsize {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
