#todo-chaos-options {
  padding: 30px 15px 15px 15px;
  text-align: center;
  color: #4f4f4f;
}
#todo-chaos-options[mode='no-auth'] .has-auth {
  display: none!important;
}
#todo-chaos-options[mode='no-auth'] .no-auth {
  display: block;
}
#todo-chaos-options[mode='has-auth'] .has-auth {
  display: block;
}
#todo-chaos-options[mode='has-auth'] .no-auth {
  display: none!important;
}
#todo-chaos-options[popup=login] .chaos-curtain {
  display: flex;
}
#todo-chaos-options .chaos-head-1 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
#todo-chaos-options .chaos-head-btm {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
#todo-chaos-options .chaos-head-link {
  display: block;
  text-decoration: underline;
  cursor: pointer;
}
#todo-chaos-options .options_settings_img {
  margin: 30px;
}
#todo-chaos-options .chaos-head-2 {
  font-size: 16px;
  font-weight: bold;
  color: #327acb;
  margin: 7.5px 15px 15px 15px;
}
#todo-chaos-options .todo-chaos-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 15px 45px 15px;
  padding: 0 10%;
}
#todo-chaos-options .chaos-bottom {
  margin: 30px 15px 15px 15px;
}
#todo-chaos-options .chaos-bottom-head {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 7.5px;
}
#todo-chaos-options .chaos-bottom-desc {
  font-size: 12px;
}
#todo-chaos-options .chaos-bottom ul {
  text-align: left;
  margin: 15px;
}
#todo-chaos-options .chaos-bottom ul li {
  font-weight: bold;
  font-size: 16px;
  line-height: 230%;
}
#todo-chaos-options .chaos-bottom ul li a {
  color: #327acb;
}
#todo-chaos-options .todo-chaos-btn {
  line-height: 35px;
  min-width: 105px;
  text-align: center;
  padding: 0 15px;
  border-radius: 8px;
  color: #4f4f4f;
  background-color: #e5e5e5;
  transition: 0.3s;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
#todo-chaos-options .todo-chaos-btn:hover {
  color: white;
  background-color: #4a90e2;
}
#todo-chaos-options .todo-chaos-btn-wide {
  min-width: 225px;
}
#todo-chaos-options .todo-chaos-btn.btn-blue {
  color: white;
  background-color: #4a90e2;
  opacity: 0.9;
}
#todo-chaos-options .todo-chaos-btn.btn-blue:hover {
  opacity: 1;
}
#todo-chaos-options .todo-chaos-btn.btn-green {
  color: white;
  background-color: #58b266;
  opacity: 0.9;
}
#todo-chaos-options .todo-chaos-btn.btn-green:hover {
  opacity: 1;
}
#todo-chaos-options .chaos-margin {
  margin: 15px 0 !important;
}
#todo-chaos-options .chaos-curtain {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  left: 14%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
}
#todo-chaos-options .chaos-curtain .chaos-popup {
  background: white;
  min-width: 400px;
  min-height: 300px;
  padding: 60px 15px;
  border-radius: 8px;
  box-shadow: #777 0px 0px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#todo-chaos-options .chaos-curtain .chaos-popup-logo {
  width: 34px;
}
#todo-chaos-options .chaos-curtain .chaos-popup-header {
  font-size: 18px;
  font-weight: bold;
  margin: 22.5px 15px 30px 15px;
}
#todo-chaos-options .chaos-curtain .chaos-popup-warn {
  margin-top: 5px;
  font-size: 12px;
  color: coral;
  font-weight: bold;
  line-height: 14px;
  min-height: 14px;
  opacity: 0;
  transition: 0.3s;
}
#todo-chaos-options .chaos-curtain .chaos-popup-warn.active {
  transition: 0;
  opacity: 1;
}
#todo-chaos-options .chaos-curtain .chaos-popup-close {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 15px;
  right: 15px;
  width: 12px;
  height: 12px;
  background-image: url(img/close.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
  transition: 0.3s;
}
#todo-chaos-options .chaos-curtain .chaos-popup-close:hover {
  opacity: 0.9;
}
#todo-chaos-options .chaos-curtain .chaos-popup input {
  margin-bottom: 15px;
  width: 215px;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  outline: 0;
  line-height: 32px;
  padding: 0 7.5px;
}
#todo-chaos-options .chaos-curtain .chaos-popup input.warn {
  border-color: coral;
}
#todo-chaos-options .chaos-curtain .chaos-popup .todo-chaos-btn {
  min-width: 219px;
  color: #327acb;
  position: relative;
}
#todo-chaos-options .chaos-curtain .chaos-popup .todo-chaos-btn:hover {
  color: white;
}
#todo-chaos-options .chaos-curtain .chaos-popup .todo-chaos-btn.wait {
  cursor: default!important;
  opacity: 0.45;
}
#todo-chaos-options .chaos-curtain .chaos-popup .todo-chaos-btn.wait:after {
  opacity: 1;
}
#todo-chaos-options .chaos-curtain .chaos-popup .todo-chaos-btn:after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transition: 0.5s;
  right: -31px;
  top: 5px;
  width: 24px;
  height: 24px;
  background-image: url(img/loading.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.ul-clean {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ul-clean li {
  margin: 0;
  padding: 0;
}
.mark {
  outline: 1px dashed orange;
}
.beforeafter {
  content: "";
  position: absolute;
  display: block;
}
.fullsize {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.no-indent {
  padding: 0;
  margin: 0;
}
