.lsp-date-picker-warpper {
  width: 322px;
  background-color: #999;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  border-radius: 5px;
}
.lsp-date-picker-header {
  width: 100%;
  height: 40px;
  font-size: 0;
  position: relative;
}
.lsp-date-picker-header span,
.lsp-date-picker-header a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.lsp-date-picker-header .prev-date-btn,
.next-date-btn {
  font-size: 18px;
  width: 40px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.lsp-date-picker-header .prev-date-btn {
  position: absolute;
  left: 0px;
  top: 0px;
}
.lsp-date-picker-header .next-date-btn {
  position: absolute;
  right: 0px;
  top: 0px;
}
.lsp-date-title {
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.lsp-date-picker-body {
  width: 100%;
}
.lsp-date-picker-body tr {
  width: 100%;
  height: 40px;
}
.lsp-date-picker-body tr th {
  width: 46px;
  height: 40px;
  color: #fff!important;
  line-height: 40px;
  text-align: center;
  font-weight: 100;
}
.lsp-date-picker-body tr td {
  width: 46px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
.lsp-date-picker-body tr .lsp-gray {
  opacity: .3;
}
/*
.lsp-date-picker-body tr .lsp-normal{
    cursor:pointer;
}
.lsp-date-picker-body tr .lsp-current{
    background:#333;
    border-radius:5px;
}
.lsp-date-picker-body tr .lsp-selected{
    background:#00F;
    border-radius:5px;
}
.lsp-date-picker-body tr .lsp-active{
    background:#666;
    border-radius:5px;
}
*/
